body {
    background: linear-gradient(#E8DED2, #BFB8AE);
    height: 100%;
}

#content {
    background-color: white;
    margin-top: 40px;
    box-shadow: 0 0 30px, 0 35px 25px;
    padding: 0px;
}

#col1 {
    background: linear-gradient(#6E9ECF, #57A011, #3D84C5);
    margin-left: 0px;
    color: white;
    padding-top: 15px;
}

#col2 {
    padding-top: 15px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px !important;
}

#footer {
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 40px;
    text-align: center;
    background: linear-gradient(#3D84C5, #32608E)
}

#copyright {
    padding-top: 10px;
    color: white;
}

h4 {
    margin: 10px 0 -5px 0;
    font-weight: bold;
    color: #933;
}

h6 {
    margin: 20px 0 0px 0;
    font-weight: bold;
    color: #933;
}

#p-border-dashed {
    padding: 10px;
    margin: 5px;
    border: 1px dashed #ccc;
}

#border-solid {
    padding: 10px;
    margin: 5px;
    border: 1px solid green;
}

.col {
    height: 100%;
}

#donate {
    background-color: #3D84C5;
    border: none;
}

.navbar-default {
  background-color: #3c82c0;
  border-color: #3C82C0;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #3c82c0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #57a011;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #3c82c0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #57a011;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #57a011;
}
.navbar-default .navbar-toggle {
  border-color: #3C82C0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #57a011;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #57a011;
  }
}
